/*Variables*/
$gutter: 30px;
$grid: 65px;

$primary-grey: rgb(65, 72, 98);
$green: rgb(0, 184, 123);
$light-grey-text:rgba(65, 72, 98, 0.749); 
$light-grey-bg: rgb(241, 243, 246);

$medium: 500;
$semi-bold: 600;
$bold: 700;

/*Reset*/
html {
    box-sizing: border-box;
    font-size: 100%;
    overflow-x: hidden;
}
*,*::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}
/*utility clasess*/
.center {
    max-width: 1110px;
    margin: 0 auto;
}
/*Styles*/
body {
    font-family: 'Barlow', sans-serif;
    
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    height: 91px;
    padding-top: 39px;
    margin: 0 auto;

    &__heading {
        margin-right: 13px;
    }
    &__link {
        display: block;
        width: 118px;
        height: 52px;
        color: #fff;
        background-color: $green;
        text-align: center;
        line-height: 52px;

    }
}

.business-areas {
    margin-top: 129px;

    &__item {
        font-size: 42px;
        font-weight: $bold;
        color: $primary-grey;

        &--color {
            color: $green;
        }
        &--summarizing {
            font-size: 32px;
            font-weight: $medium;
            color: $light-grey-text;
            margin: 54px 0 88px;
        }
    }

}

.scroll-icon {
    display: inline-block;
}

/*Hero group*/
.hero-img {
    border-radius: 2px;
}

.hero-group {
    position: relative;
}
.info {
    width: 353px;
    height: 262px;
    border-radius: 4px;
    padding: 32px;
    background-color: $primary-grey;
    color: #fff;

    position: absolute;
    top: 221px;
    left: 661px;


    &__heading {
        margin: 24px 0 12px;
        font-size: 24px;
        font-weight: $bold;
    }

    &__text {
        font-size: 18px;
        font-weight: $medium; 
    }
}

/*Offer*/
.offer {
    margin-top: 186px;

    &__heading {
      font-size: 48px;
      font-weight: $medium;
      color: $light-grey-text;
      line-height: 53px;
      
      &--strong {
          font-weight: $bold;
          color: $primary-grey;
      }
    }

    &__body {
        margin: 94px auto;
        display: flex;
        justify-content: space-between;
    }
}

.card {
   width: 346px;
   height: 236px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
   &__icon {
       margin-bottom: 24px;
   }

   &__text {
       text-align: center;
   }
}

/*Profits*/
.profits {
    margin-top: 106px;
    

    &__heading {
        font-size: 48px;
        font-weight: $medium;
        color: $light-grey-text;
        line-height: 53px;
        
        &--strong {
            font-weight: $bold;
            color: $primary-grey;
        } 
    }

    &__body {
       margin-top: 88px;
       display: flex;
       justify-content: space-between;
       position: relative;
    }

    &__bg-box {
        width: 515px;
        height: 429px;
        background-color: $light-grey-bg;
        position: absolute;
        top: -59px;
        right: -165px;
        z-index: -10;
    }
}

.list__item {
    height: 82px;
    display: flex;
    align-items: flex-start;
}
// do poprawy list items

/*Legal info*/
.legal-info {
    width: 100%;
    height: 456px;
    margin-top: 148px;
    background-color: $primary-grey;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 75px;
    
    &__heading {
        font-size: 32px;
        font-weight: $bold; 

        &::after {
            content: '-';
            display: block;
            color: $green;
        } 
    }

    &__text {
        font-size: 20px;
        line-height: 28px;
    }

    &__strong {
        color: $green;
    }  
}

.footer {
    margin-top: 132px;

    &__heading {
        font-size: 48px;
        font-weight: $medium;
        color: $light-grey-text;  
    }

    &__strong {
        font-weight: $bold;
        color: $primary-grey;
    }

    &__body {
        margin-top: 88px;
        display: flex;
        justify-content: space-between;

    }

    &__logo {
        margin-top: 167px;
        width: 100vw;
        height: 153px;
        background-color: $light-grey-bg;
    }

    &__img {
        display: block;
        padding-top: 50px;
    }
}


.tile {
    width: 536px;
    height: 110px;
    padding: 31px 24px;
    background-color: $light-grey-bg;
    color: $primary-grey;

    display: grid;
    grid-template-columns: 74px 1fr;
    grid-template-rows: 1fr 1fr;

    &__icon {
        grid-row: 1/-1;
        display: block;
        width: 48px;
        height: 48px;
        margin: auto 0;
        
    }

    &__title {
        grid-column: 2/3;
        grid-row: 1/2;
        
        font-size: 20px;
        font-weight: $medium;
        
    }

    &__text {
        grid-column: 2/3;
        grid-row: 2/-1;
        font-size: 24px;
        font-weight: $semi-bold;
    }

}

